.services {
  .container();
  margin-top: 60px;


}
.services .block-title {
  width: 100px;
}

.services__items {
  margin-top: 28px;
  display: flex;

}

.services__item {
  flex-basis: 262px;
  border: 1px solid black;
  flex-shrink: 0;
}

.services__item h3 {
  font-size: 17px;
}

.services__item a {
  color: @text-grey;

}
